div{
  font-size: 50px;
}
.my-font-style{
  fill:none;
  stroke: var(--dark-pink); /*  #D34127; */
  stroke-width: 5;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
body{
  --dark-pink: rgb(255, 0, 46);
  --pink: rgb(255, 204, 216);
  background: var(--pink);
  padding: 160px 20px;
}
svg{
  width: 80vw;
}
input{
  position: fixed;
  top: 30px;
  left: 30px;
  height: 60px;
  background: rgba(255,255,255, 0.3);
  width: calc(100vw - 2*50px - 2*30px);
  outline: none;
  border: none;
  border-radius: 70px;
  padding: 20px 50px;
  font-size: 50px;
  color: var(--dark-pink);
}

/* width */
body::-webkit-scrollbar {
  width: 20px;
  height: 20px;
  background: transparent;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--dark-pink);
  border-radius: 2.5px;
  border: solid 5px var(--pink);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--dark-pink);
}
body::-webkit-resizer{
  background: var(--pink)
}
